/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common CSS Styling*/
*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
}
p{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px;
    color: dimgray;
}
h1, h2{
    font-size: 40px;
}

/*Owl css*/
.owl-nav{
    text-align: center;
    font-size: 50px;
    display: none;
}
/* body styling*/
body{
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url("assets/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    padding: 30px 0;
    overflow: hidden;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}

.about-peter{
    padding-top: 100px;
}

.peter-color{
    color: #F24F78;
    font-family: 'Archivo Black', sans-serif;
    font-size: 55px;
    font-weight: 600;
} 

.half-width .about-peter a{
    text-decoration: none;
    background-image: linear-gradient(45deg, #F3528E, #F34F71);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    transition: .6s;
}

.half-width .about-peter a:hover{
    box-shadow: 4px 4px 3px #bbb;
}

/* biography style */
.biography{
    background-image: url("assets/images/biography-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px 0;
    padding: 30px 0;
    overflow: hidden;
}
.biography .half-width img{
    width: 90%;
    height: 90%;
}

/* portfolio Style */
.portfolio{
    background-color: #fff;
    margin: 100px 20px;
    padding: 70px 0;
}

.portfolio h2{
    text-align: center;
}

.slider{
    padding-top: 100px;
}

/* client-reviews */
.client-reviews{
    background-image: url("assets/images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px 0;
    padding: 30px 0;
}
.client-reviews h2{
    text-align: center;
}
.client-reviews .clients{
    text-align: center;
    margin-top: 60px;
}
.client-reviews .client-info h4{
    font-size: 18px;
    font-weight: 700;
}
.client-reviews .client-info p{
    font-size: 14px;
}
.client-reviews .client-info .client-qoute{
    font-size: medium;
    width: 30%;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.client-reviews .client-info .client-qoute span{
    text-align: center;
}
.sent-massage{
    width: 40%;
    background-image: linear-gradient(45deg, #F3528E, #F34F71);
    margin: 60px auto;
    padding: 20px 50px 60px 50px;
    border-radius: 10px;
    text-align: center;
}
.sent-massage p{
    color: azure;
    margin-bottom: 20px;
}
.sent-massage h3 a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}
/*copyright style*/
.copyrights{
    text-align: center;
}
.copyrights span{
    font-size: 14px;
    font-weight: 600;
    color: #F24F78;
}